* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
    background-color: #f2f2f2;
}
.url-input {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
}
.w-100 {
    width: 100%;
}
.btn {
    padding: 5px;
    margin-top: 10px;
    color: white;
    cursor: pointer;
    background-color: #04AA6D;
}
.btn:hover {
    opacity: 0.8;
}
.form {
    margin: 20px auto; 
}
.table-ctn {
    display: block;
    max-height: 500px;
    overflow-y: scroll;
    margin: 20px;
    width: 100%;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    background-color: white;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
.error {
    color: white;
    background-color: red;
    margin: 0px auto;
}
.w-400 {
    width: 400px;
}
.m-w-50 {
    max-width: 50%;
}
.p-10 {
    padding: 10px;
}
.m-10 {
    margin: 10px;
}